/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  line-height: 1.5;
  font-weight: 500;
}

.banner {
  height: 958px;
  background-image: url(asset/banner.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  color: #fff;
}
.content span {
  font-size: 24px;
  line-height: 42px;
  font-weight: 700;
}
.content h1 {
  font-size: 80px;
  line-height: 106px;
  font-weight: 900;
}
.content p {
  font-size: 24px;
  font-weight: 700;
}

.sns {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 64px;
  line-height: 84px;
}

h3 {
  font-size: 24px;
  line-height: 42px;
}

.about {
  text-align: center;
}
.about p {
  font-size: 24px;
}
.about h3 {
  display: inline-block;
}

.line {
  width: 384px;
  padding-top: 28px;
  border-top: 1px solid #000;
  margin: 0 auto;
}

.dot {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #891818;
  margin-right: 16px;
}

.brand {
  text-align: center;
  color: #fff;
  padding-top: 56px;
  padding-bottom: 160px;
  background: #000000;
  border: 1px solid #707070;
}
.brand p {
  font-size: 20px;
}

.works {
  text-align: center;
}
.works p {
  font-size: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
}

.img-box {
  text-align: center;
}
.img-box p {
  font-size: 20px;
  margin-top: 16px;
}

footer {
  color: #fff;
  text-align: center;
  padding: 64px 0;
  background-color: #000;
}
footer p {
  font-size: 20px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-68 {
  margin-top: 68px;
}

.mt-144 {
  margin-top: 144px;
}/*# sourceMappingURL=style.css.map */